	<div class="layui-header">
		<div class="layui-logo">多智云用户管理后台</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<li  class="layui-nav-item layui-this"><a href="/" >首页</a></li>
			<li  class="layui-nav-item "><a href="/user" >用户模块</a></li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="javascript:;"> <img
					src="/images/default_user_pic.jpg" class="layui-nav-img"><i >xxxx</i>
			</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="">基本资料</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item"><a href="/logout">退出账号</a></li>
		</ul>
	</div>
